@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@font-face {
  font-family: cocogoose-pro;
  src: url(src/font/cocogoose-pro.otf);
}

.coco {
  font-family: "cocogoose-pro", sans-serif;
}

.lato {
  font-family: Lato, sans-serif;
}

.black {
  color: #272a31;
}

.orange {
  color: #ec5242;
}

.gray {
  color: #d3d3d3;
}

body {
  background-image: url(src/bg/bg-page.jpg);
  background-size: 100%;
  backdrop-filter: grayscale(50%);
}

.start-section {
  display: flex;
  flex-direction: column;
  margin: 30px 12px;
}

body,
p,
h1,
h2,
h3 {
  margin: 0;
}

.menu-btn {
  background-color: inherit;
  border: none;
  margin: 16px 0 0 20px;
}

.m-menu {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #4d68a8;
  overflow-x: hidden;
  transition: 0.5s;
}

.m-menu-container {
  display: flex;
  flex-direction: column;
}

.start-title-p {
  font-size: 20px;
  margin: 6px 0;
}

.start-title {
  font-size: 26px;
  line-height: 28px;
}

.start-p-container {
  background-color: #f3f3f3;
  border: 2px solid #fff;
  margin: 20px 0;
}

.start-descr {
  font-size: 12px;
  line-height: 20px;
  padding: 12px;
}

.start-date {
  font-size: 24px;
}

.start-place {
  font-size: 14px;
}

.main-section {
  background-image: url(src/bg/about-bg.PNG);
  padding: 0 12px;
  display: flex;
  flex-direction: column;
}

.main-title {
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  padding-top: 20px;
}

.main-hr {
  width: 30px;
  border: none;
  border-top: 1px solid #ec5242;
  margin-bottom: 25px;
}

ul {
  list-style: none;
  padding: 0;
}

.icon {
  width: 30px;
  height: 30px;
}

.main-li {
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  margin: 8px 0;
  padding: 20px 16px;
  align-items: center;
}

.main-li-title {
  font-size: 16px;
  padding: 0 20px;
  width: 71.25px;
  flex-shrink: 0;
}

.main-li-p {
  font-size: 12px;
}

.main-btn {
  background-color: #ec5242;
  border: none;
  font-size: 16px;
  margin: 24px 0 32px 0;
  padding: 18px 30px;
  width: fit-content;
  align-self: center;
  cursor: pointer;
}

.main-btn-dsk {
  display: none;
}

.speakers-section {
  background-color: #fff;
}

.speakers-title {
  text-align: center;
  font-size: 18px;
  padding-top: 20px;
}

.speakers-container {
  display: flex;
  padding-bottom: 30px;
}

.speakers-name {
  font-size: 16px;
  font-weight: 700;
}

.speakers-sub-title {
  font-size: 12px;
  font-style: italic;
  margin-top: 5px;
}

.speakers-hr {
  width: 16px;
  margin-inline-start: 0;
}

.speakers-p {
  font-size: 10px;
}

.speakers-img {
  width: 28%;
  height: auto;
  padding: 10px 10px 10px 10px;
  margin-left: 10px;
}

.partner-section {
  background-color: #3d3d3d;
}

.footer-title {
  text-align: center;
  padding-top: 20px;
}

.footer-img {
  padding: 10px 16px;
}

.align {
  text-align: center;
  padding-bottom: 30px;
}

.about-title-p {
  text-align: center;
  font-size: 20px;
}

.about-title {
  text-align: center;
  font-size: 26px;
  line-height: 28px;
  padding-top: 12px;
}

.about-p-container {
  background-color: #fff;
  margin: 26px 16px 16px 16px;
  border: 1px solid #d3d3d3;
}

.about-p {
  text-align: center;
  font-size: 12px;
  padding: 16px 12px;
  line-height: 20px;
}

.about-contact {
  text-align: center;
  font-size: 12px;
  margin: 0 48px;
  line-height: 20px;
}

.about-mail {
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  padding-bottom: 30px;
}

.about-mail a {
  color: #272a31;
}

.logo-section {
  background-color: #fff;
  padding-top: 30px;
}

.logo-title {
  text-align: center;
  font-size: 18px;
}

.logo-hr {
  width: 15px;
  border: none;
  border-top: 1px solid #ec5242;
}

.logo-p {
  text-align: center;
  font-size: 12px;
  margin: 0 40px;
}

.logo-img {
  margin: 30px 16px 0 16px;
  text-align: center;
  border: 1px solid #d3d3d3;
}

.logo-hr-end {
  width: 100%;
  border: none;
  border-top: 1px solid #d3d3d3;
  margin-top: 30px;
  margin-bottom: 0;
}

.past-section {
  background-color: #fff;
  padding-bottom: 30px;
}

.past-title {
  text-align: center;
  font-size: 18px;
  padding-top: 30px;
}

.past-p {
  text-align: center;
  font-size: 12px;
  margin: 0 32px;
}

.past-first-card {
  background-image: url(src/first-card.png);
  background-size: cover;
  height: 160px;
  margin: 30px 32px 12px 32px;
}

.past-second-card {
  background-image: url(src/second-card.png);
  background-size: cover;
  height: 160px;
  margin: 0 32px 0 32px;
}

.red-filter {
  background-color: rgba(236, 83, 66, 0.6);
  height: 160px;
  background-size: cover;
}

.card-title {
  text-align: center;
  color: #fff;
  font-size: 24px;
  padding-top: 60px;
}

.card-p {
  text-align: center;
  color: #fff;
  font-size: 12px;
  margin-top: 12px;
}

.footer-section {
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
}

.footer-logo {
  width: 170px;
}

.footer-p {
  font-size: 10px;
}

@media screen and (min-width: 768px) {
  .start-section {
    padding: 120px 0;
    margin: 0 78.5px;
  }

  .start-title-p {
    font-size: 46px;
  }

  .start-title {
    font-size: 64px;
    line-height: 64px;
    width: 750px;
  }

  .start-p-container {
    width: fit-content;
  }

  .start-descr {
    font-size: 24px;
    line-height: 36px;
    width: 750px;
  }

  .start-date {
    font-size: 36px;
    padding-top: 40px;
  }

  .start-place {
    font-size: 26px;
  }

  .main-title {
    font-size: 26px;
  }

  .main-hr {
    width: 60px;
    padding-bottom: 25px;
    margin-bottom: 0;
  }

  .main-ul {
    display: flex;
    margin: 0 78.5px;
    column-gap: 4px;
  }

  .main-li {
    flex-direction: column;
    box-sizing: border-box;
    border: 2px solid rgba(255, 255, 255, 0);
  }

  .main-li:hover {
    border: 2px solid #fff;
  }

  .main-li-title {
    width: auto;
    padding: 16px 0;
    font-size: 20px;
  }

  .main-li-p {
    font-size: 14px;
    text-align: center;
  }

  .icon {
    width: 40px;
    height: 40px;
  }

  .main-btn {
    display: none;
  }

  .main-btn-dsk {
    display: block;
    background-color: inherit;
    border: none;
    font-size: 16px;
    margin: 42px 0 64px 0;
    width: fit-content;
    align-self: center;
    text-decoration: underline;
    cursor: pointer;
  }

  .speakers-title {
    font-size: 26px;
  }

  .clearfix::before,
  .clearfix::after {
    content: "";
    display: table;
  }

  .clearfix::after {
    clear: both;
  }

  .speakers-section {
    padding: 0 78.5px;
  }

  .speakers-container {
    width: 50%;
    float: left;
    background-color: #fff;
  }

  .partner-section {
    clear: both;
  }

  .speakers-name {
    font-size: 20px;
  }

  .speakers-p,
  .speakers-sub-title {
    font-size: 14px;
  }

  .footer-logo {
    width: 250px;
  }

  .footer-p {
    font-size: 16px;
  }

  .footer-section {
    padding: 60px 0;
  }
}
